[Unit]
Description=Start at&t aircard connection

[Service]
ExecStart=/usr/bin/aircard.sh start
ExecStart=/usr/bin/aircard.sh stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target