[Unit]
Description=Start at&t aircard connection

[Service]
Type=oneshot
ExecStart=/usr/bin/aircard.sh start
ExecStart=/usr/bin/aircard.sh stop

[Install]
WantedBy=multi-user.target